<!DOCTYPE HTML>
<html>
	<head>
		<title><%=title%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/mainintro.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">Gyuhyeon Lee</a> Project showcase</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/delivery">배송조회</a></li>
							<li><a href="/naverjob">채용공고 알리미</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">Links</a>
								<ul>
									<li><a href="https://github.com/gyuhyeon">Github</a></li>
								</ul>
							</li>
							<!-- <li><a href="/login" class="button">Sign In</a></li> -->
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner" class="main"><span class="image featured"><img src="images/profilepicture.jpg" style="display:block;width:40%;margin-left:auto;margin-right:auto;border-radius:50%" alt="" /></span>
					<h2>About me</h2>
					<p>Creativity mixed with a hint of tech savviness</p>				
					
				<!--
					<ul class="actions">
						<li><a href="#" class="button special">Sign In</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				-->
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>안녕하세요? 🐇

							</h2>
							<p>저는 동물, 자연과 모험을 좋아하는 이규현입니다.</p>
						</header>
						
						<p>시간이 되신다면, 잠시만 제 소개를 해보려고 합니다.</p>

					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Creative</h3>
								<p>저는 모든 것에 대한 솔루션을 알고 있다고 자부합니다.<br/>모른다면 곧바로 생각해낼 수 있고,<br/>제가 해결할 수 없다면 해결할 수 있는 사람을<br/>찾아줄 수 있습니다.</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Analytic</h3>
								<p>제 창의성의 기반은 분석력입니다.<br/>코드 디버깅부터 서비스 기획 및 마케팅 전략까지,<br/> 문제의 핵심을 찾아 최적의 솔루션을 만들 수 있습니다.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Adaptive</h3>
								<p>저는 어느 환경에든 자연스럽게 녹아들며<br/>적응할 수 있습니다. 새로운 기술을 배우는 것,<br/>새로운 인연을 만드는 것 모두 행복한 일입니다.</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Robust</h3>
								<p>제가 짠 코드에 대한 책임은 저에게 있습니다.<br/>제 코드가 문제의 원인이 되지 않도록<br/>개발중 항상 취약점을 확인합니다.</p>
							</section>
						</div>
					</section>
					
					
				
					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/naverjobcropped.jpg" alt="" /></span>
								<h3>네이버 채용공고 알리미</h3>
								<p>비록 6시간만에 만든 서비스지만<br/>명확한 기능으로 아무나 쉽게 사용해볼 수 있고,<br/>DB/서버/웹 및 디자인 모두 들어갔기 때문에 <br/>저의 대표작으로 적합하다고 생각했습니다.</p>
								<ul class="actions">
									<li><a href="/naverjob" class="button alt">바로가기</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/deliverybutton.jpg" alt="" /></span>
								<h3>통합배송조회</h3>
								<p>네이버 2017 동계 핵데이(<a href="http://d2.naver.com/news/2656084">모집공지 링크</a>)<br/>행사를 통해 개발하게 된 서비스입니다.<br/>기존 코드에 비해 Promise, Lambda, Regexp 등을 자유롭게 사용하며 빠르게 발전하고 있음을 볼 수 있습니다.</p>
								<ul class="actions">
									<li><a href="/delivery" class="button alt">바로가기</a></li>
								</ul>
							</section>

						</div>
					</div>


					<div class="box" style="background-color:#F3FFFD" name="resume">
						<b><h3>Life</h3></b>
						<p>
							<b># 행복</b><br/>
							저는 사용자의 불편을 해소하거나 편의를 제공할 때 가장 행복합니다.<br/>
							그래서 개발자로서의 보람과 사용자로서의 만족을 동시에 느낄 수 있는 서비스 개발을 하고 싶습니다.<br/><br/>
							<b># 완벽주의</b><br/>
							저는 완벽해보이는 것에서 개선점을 찾는 일이 재미있습니다.<br/>
							그래서 학교 수강신청 페이지에서 결함을 찾아보기도 하고,<br/>
							시스템을 만들 때는 항상 모든 경우의 수를 생각해보며 예외를 처리해주는 것에 신경쓰곤 합니다.
						</p>
						<b><h3>Experience</h3></b>
						<ul>
							<li>
								<b>삼성전자 네트워크사업부 인턴</b>
								<ul>
									<p>
										- 가상화 플랫폼 랩 인턴실습, ONOS 관련 유닛테스트 수행
									<br/>
										- 2017.6 ~ 2017.8
									</p>
								</ul>
							</li>
							<li>
								<b>성대 컴퓨터교육과 QOL 집행부장</b>
								<ul>
									<p>
										- 학과 공식 홈페이지 제작/유지관리
									<br/>
										- 2016.12 ~ 2017.12
									</p>
								</ul>
							</li>
							<li>
								<b>한국예술종합학교 졸업작품 외주</b>
								<ul>
									<p>
										- 웹캠기반 SNS 프로토타입 개발
									<br/>
										- 2016.10 ~ 2016.11
									</p>
								</ul>
							</li>
							<li>
								<b>삼성전자 크리에이티브 스퀘어 공모전 2기 선정</b>
								<ul>
									<p>
										- Mumme 팀 소속, IoT 감성화분 개발계획 작성
									<br/>
										- 2017.1 ~ 2017.2
									</p>
								</ul>
							</li>
							<li>
								<b>성균관대학교 SW 교양과목 실습강의</b>
								<ul>
									<p>
										- 신입생 대상 소프트웨어 교양과목(Python 3) 실습교육
									<br/>
										- 2016.3 ~ 2016.12
									</p>
								</ul>
							</li>
							<li>
								<b>Naver 2017 Hackday 참가</b>
								<ul>
									<p>
										- 배송조회 서비스 개발을 주제로 우수 참가자 선정
									<br/>
										- 2017.11.23 ~ 24
									</p>
								</ul>
							</li>
							<li>
								<b>SSC 경영전략학회</b>
								<ul>
									<p>
										- 기업구조 및 시장분석 등 케이스 스터디 진행
									<br/>
										- 2013.3 ~ 2013.9
									</p>
								</ul>
							</li>
							<li>
								<b>KCC 한국상경학회</b>
								<ul>
									<p>
										- 연합심포지엄 참가, 스피치/강연 진행
									<br/>
										- 2012.3 ~ 2012.9
									</p>
								</ul>
							</li>
							<li>
								<b>선도벤처기업연계 창업지원사업 선정</b>
								<ul>
									<p>
										- 과외수업관리 서비스 프로토타입 개발
									<br/>
										- 2016.10
									</p>
								</ul>
							</li>
						</ul>
						<b><h3>Education</h3></b>
						<ul>
							<li>
								<b>한일고등학교</b>
								<ul>
									<p>
										- 2009.3 ~ 2012.2
									</p>
								</ul>
							</li>
							<li>
								<b>성균관대학교</b>
								<ul>
									<p>
										- 컴퓨터교육 전공 | 경영학 복수전공
									<br/>
										- 2012.3 ~ 2018.2
									</p>
								</ul>
							</li>
						</ul>
						<b><h3>Language Proficiency</h3></b>
						<ul>
							<li>
								<b>토익 : 990</b>
							</li>
							<li>
								<b>오픽 : AL</b>
							</li>
						</ul>
						<!--
						<div class="row">
							<div class="6u 12u(mobilep)">
								<h3>half columns</h3>
								<p>half column setences</p>
							</div>
							<div class="6u 12u(mobilep)">
								<h3>half columns</h3>
								<p>half column setences</p>
							</div>
						</div>
					-->
					</div>

				</section>



			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://github.com/gyuhyeon/2017NaverHackday" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Gyuhyeon Lee 2017, All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/jquery.scrollgress.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/assets/js/main.js"></script>
	</body>
</html>