<!DOCTYPE HTML>
<html>
	<head>
		<title><%=title%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper" style="background-color: rgb(202,200,200);">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">Gyuhyeon Lee</a> Project showcase</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/delivery">DeliveryTracking</a></li>
							<li><a href="/naverjob">NaverJobTracker</a></li>
							<!--
							<li>
								<a href="#" class="icon fa-angle-down">Menu</a>
								<ul>
									<li><a href="/dashboard">dashboard</a></li>
								</ul>
							</li>
							-->
							<!-- <li><a href="/login" class="button">Sign In</a></li> -->
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner" class="main">
					<h2>About me</h2>
					<p>Creativity mixed with a hint of tech savviness</p>				
					
				<!--
					<ul class="actions">
						<li><a href="#" class="button special">Sign In</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				-->
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<p>Under construction...</p>

				</section>


			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://github.com/gyuhyeon/2017NaverHackday" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Gyuhyeon Lee 2017, All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/jquery.scrollgress.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/assets/js/main.js"></script>
	</body>
</html>