<!DOCTYPE HTML>
<html>
	<head>
		<title><%=title%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/mainintro.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">Gyuhyeon Lee</a> Project showcase</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/delivery">배송조회</a></li>
							<li><a href="/naverjob">채용공고 알리미</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">Links</a>
								<ul>
									<li><a href="https://github.com/gyuhyeon">Github</a></li>
								</ul>
							</li>
							<!-- <li><a href="/login" class="button">Sign In</a></li> -->
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner" class="main">
					<h2>About me</h2>
					<p>Creativity mixed with a hint of tech savviness</p>				
					
				<!--
					<ul class="actions">
						<li><a href="#" class="button special">Sign In</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				-->
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>안녕하세요? 🐇

							</h2>
							<p>저는 동물, 자연과 모험을 좋아하는 이규현입니다.</p>
						</header>
						
						<p>시간이 되신다면, 잠시만 제 소개를 해보려고 합니다.</p>

					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Creative</h3>
								<p>저는 모든 것에 대한 솔루션을 알고 있다고 자부합니다.<br/>모른다면 곧바로 생각해낼 수 있고,<br/>제가 해결할 수 없다면 해결할 수 있는 사람을<br/>찾아줄 수 있습니다.</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Analytic</h3>
								<p>제 창의성의 기반은 분석력입니다.<br/>코드 디버깅부터 서비스 기획 및 마케팅 전략까지,<br/> 문제의 핵심을 찾아 최적의 솔루션을 만들 수 있습니다.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Adaptive</h3>
								<p>저는 어느 환경에든 자연스럽게 녹아들며<br/>적응할 수 있습니다. 새로운 기술을 배우는 것,<br/>새로운 인연을 만드는 것 모두 행복한 일입니다.</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Robust</h3>
								<p>제가 짠 코드에 대한 책임은 저에게 있습니다.<br/>제 코드가 문제의 원인이 되지 않도록<br/>개발중 항상 취약점을 확인합니다.</p>
							</section>
						</div>
					</section>
					<!--
					<div class="box">
						<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
						<h3>Long self intro</h3>
						<p>long sentences</p>
						<div class="row">
							<div class="6u 12u(mobilep)">
								<h3>half columns</h3>
								<p>half column setences</p>
							</div>
							<div class="6u 12u(mobilep)">
								<h3>half columns</h3>
								<p>half column setences</p>
							</div>
						</div>
					</div>
				-->
					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/naverjobcropped.jpg" alt="" /></span>
								<h3>네이버 채용공고 알리미</h3>
								<p>비록 6시간만에 만든 서비스지만<br/>명확한 기능으로 아무나 쉽게 사용해볼 수 있고,<br/>DB/서버/웹 및 디자인 모두 들어갔기 때문에 <br/>저의 대표작으로 적합하다고 생각했습니다.</p>
								<ul class="actions">
									<li><a href="/naverjob" class="button alt">바로가기</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/deliverybutton.jpg" alt="" /></span>
								<h3>통합배송조회</h3>
								<p>네이버 2017 동계 핵데이(<a href="http://d2.naver.com/news/2656084">모집공지 링크</a>)<br/>행사를 통해 개발하게 된 서비스입니다.<br/>기존 코드에 비해 Promise, Lambda, Regexp 등을 자유롭게 사용하며 빠르게 발전하고 있음을 볼 수 있습니다.</p>
								<ul class="actions">
									<li><a href="/delivery" class="button alt">바로가기</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>


			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://github.com/gyuhyeon/2017NaverHackday" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Gyuhyeon Lee 2017, All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/jquery.scrollgress.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/assets/js/main.js"></script>
	</body>
</html>